<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shipments" >
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.sz.ljs.shipments.view.ShipMentsActivity"></activity>
        <activity android:name="com.sz.ljs.shipments.view.ProductionMasterActivity"></activity>
    </application>
</manifest>
